# Byte-compiled / optimized / DLL support
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environments
venv/
.venv/
env/
ENV/

# OS files
.DS_Store
Thumbs.db

# IDEs and editors
.idea/
.vscode/
*.swp
*.swo

# Local media files (arquivos de teste grandes)
*.mp4
*.wav
